*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7FCD73;
    font-family: 'Lemon', serif;
}
.titulo{
    margin: 3%;
}

body{
   background-image: url(./image/fundo\ arredondado.png);
   background-repeat: no-repeat;
   background-size:380px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;

}

.info-inter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    z-index: -1;
}

.info-inter p{
    position: absolute;
    color: #70B29A;
    font-family: Literata;
    font-size: 10px;
    display: flex;
    justify-content: center; 
    width: 65%;

}

.pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 4.5em;
    color: #6C90C0;
    font-family: Literata;
}
.pergunta p{
    position: absolute;
}

.seta{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conheca{
    align-items: center;
    margin: 10%;
    font-size: 260%;
}

.coutries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}


.oitoA, .oitoB, .noveA, .noveB {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    font-size: 200%;
}

.oitoB{
    gap: 8%;
    margin-top: 5%;
}
.japao{
    height: 20vh;
}

.australia{
    height: 24vh;
}

.south{
    height: 19vh;
}

.spain{
    height: 19vh;
}
.info_country{
    height: 70vh;
    width: 80vw;
    background-color: aliceblue;
    margin: 2.2rem;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80vh;

}

.texto{
    background-color: #E58D5C;
}

.image{
    background-color: #B96F6F;
}


footer {
    text-align: center;
    background-color: cadetblue;
    border-radius: 20px 20px 0px 0px;
    color: white;
    padding: 5%;
}

