:root{
    --azul: #BFDBFF;
    --azulEscuro: #6C90C0;
    --verde: #7FCD73;
    --verdeAzul: #70B29A;
    --titulo: 'Lemon', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--verde);
    font-family: var(--titulo);
}
.titulo{
    margin: 3%;
}

body{
   background-image: url(./image/fundo\ arredondado.png);
   background-repeat: repeat;
   background-size:380px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.info-inter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    z-index: -1;
}

.info-inter p{
    position: absolute;
    color: #70B29A;
    font-family: Literata;
    font-size: 10px;
    display: flex;
    justify-content: center; 
    width: 65%;

}

.pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 4.5em;
    color: var(--azulEscuro);
    font-family: Literata;
}
.pergunta p{
    position: absolute;
}

.seta{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagina-paises{
    height: 100vh;
    width: 100vw;
    padding: 10vh 0;
}
.conheca{
    text-align: center;
    margin: 10%;
    font-size: 1.8rem;
    font-family: var(--titulo);
    color: var(--verde);
    width: 100%;
}
.countries {
    display: grid;
    height: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}
.countries div {
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 100%;
    font-size: 200%;
    background-color: var(--azul);
    color: var(--verdeAzul);
    font-family: var(--titulo);
}
.countries div img{
    height: 70px;
}
.oitoA, .noveA{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.oitoB, .noveB{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* .oitoB{
    gap: 8%;
    margin-top: 5%;
} */
.japao{
    height: 20vh;
}

.australia{
    height: 24vh;
}

.south{
    height: 19vh;
}

.spain{
    height: 19vh;
}
.info_country{
    height: 70vh;
    width:60%;
    background-color: aliceblue;
    margin: 2.2rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    height: 80vh;
}

.modalidades{
    background-color: var(--azulEscuro);
    display: grid;
}


footer {
    text-align: center;
    background-color: var(--azul);
    border-radius: 20px 20px 0px 0px;
    color: white;
    padding: 5%;
    white-space: pre;
}

