:root{
    --azul: #BFDBFF;
    --azulEscuro: #6C90C0;
    --verde: #7FCD73;
    --verdeAzul: #70B29A;
    --titulo: 'Lemon', serif;
    --textos: Literata;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--verde);
    font-family: var(--titulo);
}
.titulo{
    margin: 8%;
    font-size: 1.6rem;
    width: 100%;
}

body{
   background-image: url(./image/fundo\ arredondado.png);
   background-repeat: repeat;
   background-size:380px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: var(--textos);
}

.pagina-inicial{
    height: 80vh;
    padding: 0;
}
/* tirar o gradiente preto do vídeo */
video::-webkit-media-controls-panel{
background: none;
}
.info-inter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    z-index: -1;
}
.info-inter p{
    position: absolute;
    color: #70B29A;
    font-family: Literata;
    font-size: 10px;
    display: flex;
    justify-content: center; 
    width: 65%;

}
s
.pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 4.5em;
    color: var(--azulEscuro);
    font-family: Literata;
}
.pergunta p{
    position: absolute;
}

.seta{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagina-paises{
    height: 100vh;
    width: 100vw;
    margin: 6vh 0 ;
}
.conheca{
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--titulo);
    color: var(--verde);
    place-content: start;
    display: grid;
    padding: 20px;
    text-transform: uppercase;

}
.countries {
    display: grid;
    height: 34%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 90px;
    row-gap: 20px;
    column-gap: 10px;
}
.countries div {
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 100%;
    font-size: 160%;
    background-color: var(--azul);
    color: var(--verdeAzul);
    font-family: var(--titulo);
}
.countries div img{
    height: 70px;
}
.oitoA, .noveA{
    border-radius: 0 20px 20px 0;
}
.oitoB, .noveB{
    border-radius: 20px 0 0 20px;
}

.info_country{
    height: 60%;
    width: 90%;
    background-color: var(--azul);
    margin: 18px;
    padding: 8px;
    display: grid;
    grid-template-rows: 20% 1fr;
    border-radius: 10px;
}
.info_country .titulo{
    display: flex;
    align-items: center;
    font-family: var(--titulo);
    color: var(--verdeAzul);
    gap: 16px;
    height: 100%;
    font-size: 1.2rem;
    gap: 10px;
    margin: 0;
    padding: 20px;
}
.titulo img{
    height: 54px;
}
.info{
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
}

/* ---------- */
.pagina-modalidades{
    height: 80vh;
}
.container{
    height: 20vh;
    display: grid;
    place-content: start center;
}
.container h3{
    font-family: var(--titulo);
    color: var(--verde);
    margin-top: 20%;
    margin-bottom: 4px;
    text-align: center;
    background-color: var(--azul);
    padding: 2px 6px;
    border-radius: 30px;
}
.slide{
    position: absolute;
    place-self: end;
    right: 8vw;
    transform: translateY(120px);
    padding: 4px;
    background-color: var(--verdeAzul);
    border: solid 1px var(--verdeAzul);
    font-size: 20px;
    color: white;
}
.modalidades{
    display: flex;
    width: 100vw;
    padding: 0 10px;
    gap: 10%;
    overflow-x: hidden;
    /* scroll-snap-type: mandatory; */
    /* scroll-snap-align: left; */
    height: 26vh;
    width: 70vw;
    justify-content: start;
}
.modalidades::-webkit-scrollbar{
        display: none;
}
.modalidade{
    height: 100%;
    background-color: var(--azulEscuro);
    width: 100%;
    border-radius: 10px;
    transition: 1s;
    overflow: hidden;
    flex-shrink: 0;
}
.modalidade img{
    height: 100%;
}
.modalidade span{
    position: relative;
    background-color: var(--verdeAzul);
    width: 100%;
    display: block;
    padding: 0 10px;
    bottom: 16%;
    font-family: var(--titulo);
    color: white;
}


footer {
    text-align: center;
    background-color: var(--azul);
    border-radius: 20px 20px 0px 0px;
    color: var(--verdeAzul);
    padding: 5%;
    white-space: pre;
    margin-top: 5%;
}

@keyframes increaseSize {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slide{

  }
  
  .regras{
    display: flexbox;
    background-color: var(--verdeAzul);
    height: 55%;
    margin-top: 20vh;
    padding: 5%;

    
  }
